<h3>Comments:</h3>

<ol>
  <% @comments.each do |comment| %>
  <li><%= comment.content %>
    <%= link_to "Delete", user_bucket_list_comment_path(current_user, @bucket_list, comment), :method => :delete %>
</li>
  <% end %>
</ol>

<!-- <div class="form">
<% @comments.each do |f| %>
  <div class="bucket-list-form-font">
  <%= f.content %>
  </div>
<% end %> -->
