<div class="welcome-page" style="text-align:center">
  <br><br><br>
  <h1>Welcome to Movie Bucket List!</h1>

  <h3> To get started <%=link_to "Sign Up", new_user_registration_path%>, <%=link_to "Sign in", new_user_session_path%>, or <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %></h3>
</div>
