<h2>Add Movie to Bucket List form</h2>

<div class="form">
  <%= form_for @bucket_list_movie do |f| %>
    <h4> Which Bucket List would you like to add this to?</h4>
    <%= f.collection_select :bucket_list_id, current_user.bucket_lists.all, :id, :name, include_blank: "" %><br>
    <%= hidden_field_tag :movie_id, @movie_id %>
    <br>
    <%= f.submit "+Add to Bucket List", class:"btn btn-primary" %>
  <% end %>
</div>
