<h2>Movies You`ve Watched</h2>

<div class="form">
   <% @seen.each do |f| %>
    <% seen_movie = Movie.find_by(id: f.movie_id)%>
    <div class="form-font">
      <%= seen_movie.name %>
    </div>
    <br>
  <% end %>
</div>
