.card-title {
  	height: 24px;
    width: 500px;
    color: #343232;
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
    text-align: left;
}

.btn {
  height: 42px;
  width: 90px;
  border-radius: 6px;
  border-color: #60D3B9;
  background-color: #60D3B9;
}

.btn:hover{
  height: 42px;
  width: 90px;
  border-radius: 6px;
  border-color: #4BB59D;
  background-color: #4BB59D;
}
