h1 {
  margin-left: 10px;
  color: #39C69E;
}

h2 {
  margin-left: 10px;
  color: #39C69E;
}

h3 {
  margin-left: 10px;
  color: #39C69E;
}

h4 {
  color: #7c7c7c;
}

.watched-movies-link{
  color: #7c7c7c;
  font-weight: bold;
  font-size: 18px;
}

body, html {
    height: 100%;
}

.welcome-page {
  background-image: url("Popcorn.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-links {
  height: 42px;
  width: 100%;
  background-color: #3B3E3F;
  color: #FFFFFF
}

.header-links a:link{
  color: #FFFFFF;
  margin-left: 10px;
}

.card-title {
  	height: 24px;
    width: 500px;
    color: #343232;
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
    text-align: left;
}

.btn {
  height: 35px;
  width: 150px;
  border-radius: 6px;
  border-color: #60D3B9;
  background-color: #60D3B9;
}

.btn:hover {
  height: 35px;
  width: 150px;
  border-radius: 6px;
  border-color: #4BB59D;
  background-color: #4BB59D;
}

.card-body {
  height: 115px;
  width: 400px;
  /* border: 1px solid #979797; */
  border-radius: 8px;
  /* background-color: #FAFAFA; */
  margin-left: 10px;
}

.edit-link {
  height: 35px;
  width: 150px;
  border-radius: 6px;
  border-color: #0000;
  background-color: #FFFFFF;
}

.form {
  margin-left: 10px;
}

.form-font {
  font-weight: bold;
}

.field_with_errors {
  color: #f23C3C;
  background-color: #3B3E3F;
  margin-left: 10px;
}

.bucket-list-form-font {
  color: #7c7c7c;
  font-weight: bold;
  font-size: 25px;
}

.bucket-list-form-font-two {
  color: #7c7c7c;
  font-weight: bold;
  font-size: 18px;
}

.comments {
  font-weight: bold;
}

.comment-form {
  /* margin-left: 10px; */
}
