.card-title {
  	height: 24px;
    width: 500px;
    color: #343232;
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
    text-align: left;
}

.btn {
  height: 35px;
  width: 150px;
  border-radius: 6px;
  border-color: #60D3B9;
  background-color: #60D3B9;
}

.btn:hover {
  height: 35px;
  width: 150px;
  border-radius: 6px;
  border-color: #4BB59D;
  background-color: #4BB59D;
}

.card-body {
  height: 115px;
  width: 400px;
  border: 1px solid #979797;
  border-radius: 8px;
  background-color: #FAFAFA;
}

.edit-link {
  height: 35px;
  width: 150px;
  border-radius: 6px;
  border-color: #0000;
  background-color: #FFFFFF;
}
